<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppSupp Tooley</title>
    <link href="data:image/x-icon;base64,AAABAAEAEBAAAAEACABoBQAAFgAAACgAAAAQAAAAIAAAAAEACAAAAAAAAAEAAAAAAAAAAAAAAAEA
    AAAAAAB6ir8APEuMAFNklwB5jMUAe47CAKy51QBoe64AfZC/AGt8qACFkrMAb3yoAICRwgCAksUA
    aXq9AFlumgBdbZcA/P7/AMzV6QBhbZcAW2+mAHCDvQCisM0Ac4W6AFJdgwByhr0AbnSIAH6KpQB4
    isAAe4y9AGZ6rAB/kLcAmqnLALa90ABdaKQAhZbJAFxxpABKVpwAh5zJADlHeQBibqQAhYiXAH+H
    pgB9h68AeIvEAGh4pwCpttcAb3mYAFFlnACIj6MAb3ahAK651wB/isoAfZTEAHJ7pwCAlMQAbH22
    AIKUxACaqs8AXWmfAGFunAB5h6cATlyLAH+JpABjdKUAYnWoAGBysQCmtNIAZHarAA8QKQBUZJEA
    LjtpAEBQgwBqeKgAfZC5AHZ5kACDlsIAcYCuAG9/tACoqrUAam6CAFxurwAlMmoAY3KgAGB1qQCO
    oMUAcXaIAI6iywBsdaAAkKLLAHyLvQBqdakAanqmAFZllQCtuNYAVWiVAJOmzgCSp9EAi5KlAGh+
    sgBrergAa3y1AEJWjQBIWYQAbX++AFxtpABvgMEAcIK+ADxFdgBeb6oAYm+hAHGFvgBhbKoAXnCt
    AHSDwQCQnb0AdoW+AHqItQBocacAT2CZAE9cnwCZobcAUWGcAKu41wBVZJwAlKXMALG80QBxfKQA
    QVOOAJupxgCaps8AmKnPAFxsmQBcZqIAMkB6AF9rlgCfrMYAbYC5AF5smQBdbZwAtsHXAJ6szwBb
    bqgAcYG8AKWxwwBOWZcAdIm5ADY3RQBNW50ApLTVAHyPwgA+UowAk6bQAH2RyABoe70AVWmjAFVu
    oABsfLcAV2mjAF1ulwBaaqYAZ26FAFtsowBzf7cA/f//AP7//wBugsAA////AHWAugBMXI8AdIS9
    AEpelQBkcqMAY3OmAExfmAB0hMYAPkx7AGd1owBOX6EAVWOSAG13oAB6j8MAIypNAH6VwwBaapUA
    f5PGAGp8uABIVYQAgZbGAHGBrACElMkAXWenAISayQB6g6kATVqTAF5wsABgdqcAOU6CAGJ3qgCr
    uMgAZHmwAGZ6qgBqeacAfJLEAFlpkwBtfaoAMUF3ADRDdACHl8EAhZbHAHOErQBvg7wAjpq4AHKD
    vABcb64AiZrKAHKDxQBmcpwAUF6OAG11kwCDiqQAZnWlAGl0ogAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAApqamEMaM1s90WqwuoBlVKKampH2LOBWAHsBbVzBPYU6mpqNdCQxnoiEkOqE+SoPbpqYFtocL
    ChEgj0YCPMxeiqaml7QlaymQAUe1RNPHXDumpl8YQh9zqWNs2HgPE1KGpqZWFIhZgUyvFxJ7rZ2y
    2aamfHFBaTmnbatRk7mf3bempoKYK5wzDW93hY6IcEizpqZYA2qZvde+J7E31Y0jMaamv9KaZNSu
    hH9Nqs0vm7ympmAHyHZ5pXVl3MG6PajLpqYyS9qSlm5QxM5mJg7L0aamekmRQ1PKwh1FGp6JfrCm
    ppRUcggABJUcYkDJaD81pqYtNjTQIri7GxYGw8UsKgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" rel="icon" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylee.css')}}">
</head>
<body>
    <aside>
        <p>   </p>
        <a href="/">
          <i class="fa fa-laptop" aria-hidden="true"></i>
          PPC's
        </a>
    </aside>


    <div class="container">
        <h1>Test web-vnc!</h1>

       </div>
</body>
</html>